@mixin theme-color($value){
    h5,h3,p,[fill="black"]{
        color:$value;
        fill:$value;
     }
     a{
        background-color: $value;
     }
}
.dark{
    @include theme-color($dark);
}
.primary{
    @include theme-color($primary);
}
.success{
    @include theme-color($success);

}
.danger{
    @include theme-color($danger);

}
.info{
    @include theme-color($info);
}